* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
    background-color: #121212;
    color: #f0f0f0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: white;
    color: #333;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 20px 0;
    z-index: 100;
    transition: background-color 0.3s;
}

body.dark-mode header {
    background-color: #1e1e1e;
    color: #f0f0f0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
}

header nav ul {
    list-style-type: none;
    display: inline-block;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

body.dark-mode header nav ul li a {
    color: #f0f0f0;
}


header nav ul li a:hover {
    color: #999;
}

body.dark-mode header nav ul li a:hover {
    color: #ccc;
}


header .hire-me-btn {
    background-color: #e0e0e0;
    color: #333;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

body.dark-mode header .hire-me-btn {
    background-color: #303030;
    color: #f0f0f0;
}


header .hire-me-btn:hover {
    background-color: #d0d0d0;
}

body.dark-mode header .hire-me-btn:hover {
    background-color: #404040;
}


header .moon-icon {
    margin-left: 10px;
    cursor: pointer;
}

section {
    padding: 80px 0;
    opacity: 1 !important;
    transform: translateX(0) !important;
}

#inicio {
    min-height: 500px;
    background: linear-gradient(to bottom, white, #f0f0f7);
    transition: background 0.3s;
}

body.dark-mode #inicio {
    background: linear-gradient(to bottom, #1e1e1e, #252525);
}

#inicio .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#inicio .hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

#inicio .text-content {
    flex: 1;
    padding-right: 20px;
}

#inicio .title {
    font-size: 3em;
    margin-bottom: 10px;
    color: #000;
    transition: color 0.3s;
}

body.dark-mode #inicio .title {
    color: #f0f0f0;
}

#inicio .title.bold {
    font-weight: 700;
    color: #6532D5;
    transition: color 0.3s;
}

body.dark-mode #inicio .title.bold {
    color: #a27aff;
}

#inicio .text-content p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #777;
    transition: color 0.3s;
}

body.dark-mode #inicio .text-content p {
    color: #ccc;
}

#inicio .download-btn {
    background-color: #6532D5;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
}

#inicio .download-btn:hover {
    background-color: #4e28a9;
}

#inicio .download-btn i {
    margin-right: 5px;
}

#inicio .image-content {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

#inicio .image-wrapper {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: #6532D5;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#inicio .imagem-perfil {
    max-width: 100%;
    height: auto;
}

#inicio .social-icons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#inicio .social-icons a {
    margin-right: 20px;
}

#inicio .social-icons i {
    font-size: 20px;
    color: #777;
    transition: color 0.3s;
}

body.dark-mode #inicio .social-icons i {
    color: #ccc;
}

#inicio .social-icons i:hover {
    color: #333;
}

body.dark-mode #inicio .social-icons i:hover {
    color: #f0f0f0;
}


#sobre,
#projetos,
#contato {
    background-color: white;
    min-height: 300px;
    padding: 40px 0;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode #sobre,
body.dark-mode #projetos,
body.dark-mode #contato {
    background-color: #1e1e1e;
    color: #f0f0f0;
}

#sobre .container,
#projetos .container,
#contato .container {
    padding: 0 20px;
}


#sobre h2,
#projetos h2,
#contato h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #000;
    transition: color 0.3s;
}

body.dark-mode #sobre h2,
body.dark-mode #projetos h2,
body.dark-mode #contato h2 {
    color: #f0f0f0;
}


#projetos .projetos-grid {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    gap: 30px;
}

#projetos .projeto {
    width: 30%;
    text-align: center;
    transition: transform 0.3s ease;
}

#projetos .projeto:hover {
    transform: translateY(-10px);
}

#projetos .projeto img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

#projetos .projeto p {
    margin-top: 10px;
    font-size: 18px;
    transition: color 0.3s;
}

body.dark-mode #projetos .projeto p {
    color: #f0f0f0;
}

form input,
form textarea {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode form input,
body.dark-mode form textarea {
    background-color: #303030;
    color: #f0f0f0;
}

form button {
    width: 100%;
    padding: 12px;
    background-color: #6532D5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #4e28a9;
}

.skills-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

.skills-grid img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.skills-grid img:hover {
    transform: scale(1.1);
}

.hamburguer {
    display: none;
    cursor: pointer;
    font-size: 24px;
}

@media (max-width: 768px) {

    #inicio .hero-content {
        flex-direction: column;
    }

    #inicio .text-content {
        text-align: center;
        padding-right: 0;
        padding-bottom: 20px;
    }

    #inicio .image-content {
        justify-content: center;
    }

    #projetos .projetos-grid {
        flex-direction: column;
    }

    #projetos .projeto {
        width: 100%;
        margin-bottom: 20px;
    }

    .hamburguer {
        display: block;
    }

    #nav-menu {
        display: none;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: white;
        text-align: center;
    }

    body.dark-mode #nav-menu {
        background-color: #1e1e1e;
    }

    #nav-menu ul {
        flex-direction: column;
        padding: 20px 0;
    }

    #nav-menu ul li {
        display: block;
        margin: 10px 0;
    }

    #nav-menu.active {
        display: block;
    }
}